@use './colors' as colors;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: colors.$cream;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	height: 100vh;
	width: 375px;
}

.card {
	margin: 3rem 1.5rem;
	border-radius: 12px;
	overflow: hidden;
	background-color: colors.$white;

	&__img {
		&--mobile {
			margin: auto;
			width: 100%;
		}

		&--desktop {
			display: none;
		}
	}
	&__body {
		padding: 0 2.2rem 2.5rem;
	}
	&__text {
		color: colors.$dark-grayish-blue;
		line-height: 2.4rem;
		&--uppercase {
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 1.3rem 0;
		}
		&--preview {
			padding: 1.6rem 0 4rem;
			font-size: 1.3rem;
		}
		&--oldPrice {
			text-decoration: line-through;
		}
	}
	&__title {
		font-family: 'Fraunces', serif;
		font-size: 3.2rem;
		line-height: 3rem;

		&--currentPrice {
			color: colors.$dark-cyan;
			padding-right: 2rem;
		}
	}
	&__prices {
		display: flex;
		align-items: center;
	}
	&__btns {
		background-color: colors.$dark-cyan;
		margin-top: 2rem;
		padding: 1.5rem 0;
		color: colors.$white;
		font-weight: 700;
		text-align: center;
		border-radius: 10px;
	}
}
@media (min-width: 1440px) {
	body {
		background-color: colors.$cream;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4rem;
		height: 100vh;
		width: 1440px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 540px;
		height: 400px;

		&__body {
			width: 100%;
		}
		&__img {
			&--mobile {
				display: none;
			}

			&--desktop {
				display: block;
				margin: auto;
				width: 100%;
				height: 100%;
			}
		}
		&__btns {
			transition: 0.5s;
		}
		&__btns:hover {
			cursor: pointer;
			background-color: colors.$very-dark-cyan;
		}
	}
}
