@import './colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $cream;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
}

.card {
	margin: 3rem 1.5rem;
	border-radius: 10px;
	overflow: hidden;
	background-color: $white;

	&__img {
		&--mobile {
			margin: auto;
			width: 100%;
		}

		&--desktop {
			display: none;
		}
	}
	&__body {
		border: 1px solid black;
		padding: 0 2rem;
	}
	&__text {
		color: $dark-grayish-blue;
		&--uppercase {
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	&__title {
		font-family: 'Fraunces', serif;
		font-size: 3.2rem;
		line-height: 3rem;

		&--currentPrice {
			color: $dark-cyan;
			margin-right: 2rem;
		}
	}
	&__prices {
		display: flex;
		align-items: center;
	}
}
